body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "a ar ar"
    "f f f";
    gap: 5px;
    max-width: 1000px;
    margin: auto;
}

header {
    grid-area: h;
    background-color: rgb(0, 217, 255);
    border: rgb(11, 145, 255) 5px solid;
    border-radius: 10px;

}
h1 {
    text-align: center;
    color:white;
    font-size: 60px;
}
nav {
    grid-area: n;
    background-color: rgb(31, 125, 202);
    color: yellow;
    border: rgb(31, 125, 202) 15px solid;
    border-radius: 10px;
    padding: 10px;
}
a {
    color: yellow;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    
}
a:hover {
    background-color: cyan;
}
img {
    width: 100%;
}
aside {
    grid-area: a;
    background-color: rgb(0, 217, 255);
    border: rgb(11, 145, 255) 5px solid;
    border-radius: 10px;
}
article {
    grid-area: ar;
    background-color: rgb(0, 217, 255);
    border: rgb(11, 145, 255) 5px solid;
    border-radius: 10px;
    font-size: larger;
}
footer {
    grid-area: f;
    background-color: rgb(0, 217, 255);
    border: rgb(11, 145, 255) 5px solid;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
    color:white;
    padding: 30px;
}

@media screen and (max-width:500px) {
    body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h"
    "n"
    "a"
    "ar"
    "f";
    margin: auto;
}
}
